<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJwiPlaAVg3lyu_EYBnMiy4Jzhtp7z6P0</string>
	<key>GCM_SENDER_ID</key>
	<string>298482831843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eds.back2fest</string>
	<key>PROJECT_ID</key>
	<string>back2fest-dae2e</string>
	<key>STORAGE_BUCKET</key>
	<string>back2fest-dae2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298482831843:ios:2eea23c82c8f7796e3d0d6</string>
	<key>DATABASE_URL</key>
	<string>https://back2fest-dae2e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>